
<meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#" style="background-color: #777;">
                    <span class="badge pull-right">DZD 42.00</span> Montant</a>
                </li>
            </ul><br>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Informitions clinet
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                    <div class="form-group">
                        <label for="cardNumber">
                            Numéro de votre cart CIB</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label for="expityMonth">
                                    Date d'Expiration</label>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
                                </div>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" id="expityYear" placeholder="YY" required /></div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cvCode">
                                    CVV2 *</label>
                                <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                            </div>
                        </div>
                    </div>
                    </form>
           
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <label for="username">Nom Prénom</label>
                    <div class="input-group">
                    <input type="text" class="form-control" id="cardNumber" placeholder="Test Test" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    </div>
                </li>
            </ul>
            <br/>
            <a href="file:///C:/Users/Rachid/Desktop/3spay/paymentwebpages/paymentpassword.html" class="btn btn-warning btn-block" role="button">Valider</a>
            <a href="#" class="btn btn-warning  btn-block" role="button">Reinitialiser</a>
            <a href="file:///C:/Users/Rachid/Desktop/3spay/paymentwebpages/paymentfail.html" class="btn btn-warning btn-block" role="button">Annuler</a>
        </div>
    </div>
       <ul class="nav nav-pills  nav-stacked">
                <li class="active">
                    <a href="#">
                        <span class="badge pull-right glyphicon glyphicon-phone">3020</span>
                          
                       <span class="badge glyphicon glyphicon-question-sign">AIED </span>
                    </a>
                </li>
        </ul>
           
    </div>
    </div>
</div>


<!-- css code  -->

<style type="text/css">
    body { margin-top:20px; }
    .panel-title {display: inline;font-weight: bold;}
    .checkbox.pull-right { margin: 0; }
    .pl-ziro { padding-left: 0px; }
</style>