<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"> votre Mot de Passe</h3>
                </div>
                <br>
                <div class="panel-body">
                    <form role="form">
                    
                    <div class="form-group">
                        <label for="commerçant">Commerçant :</label>
                        <label class="pull-right">Smail Hadjab</label>
                    </div>
                    
                    <div class="form-group">
                        <label for="">Montant :</label>
                        <label class="pull-right"><b>DZD 42.00</b> </label>
                    </div>
                    
                    <div class="form-group">
                        <label for="cvCode">Date :</label>
                        <label class="pull-right">10/06/2021</label>
                    </div>
                    <div class="form-group">
                        <label for="cvCode">Carte :</label>
                        <label class="pull-right">*************0314</label>
                    </div>    
                </form>
            <hr>
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <label for="password">Mot de pass</label>
                    <div class="input-group">
                    <input type="password" class="form-control" id="cardNumber" placeholder="********" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    </div>
                </li>
            </ul>
            <br/>
            <a href="file:///C:/Users/Rachid/Desktop/3spay/paymentwebpages/paymentsuccess.html" class="btn btn-warning btn-block" role="button">Valider</a>
        </div>
    </div>
       <ul class="nav nav-pills  nav-stacked">
                <li class="active">
                    <a href="#">
                        <span class="badge pull-right glyphicon glyphicon-remove">Annuler</span>
                          
                            <span class="badge glyphicon glyphicon-question-sign">AIED </span>
                    </a>
                </li>
        </ul>
           
    </div>
    </div>
</div>


<!-- css code  -->

<style type="text/css">
    body { margin-top:20px; }
    .panel-title {display: inline;font-weight: bold;}
    .checkbox.pull-right { margin: 0; }
    .pl-ziro { padding-left: 0px; }
</style>